<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
<ul>
    <li><h1>Títulos</h1><h3> Bachiller en Economía y Adminitración - Instituto Privado Ntra.Sra. de la Misericordia</h3><p>Año 2021</p></li>
    <li><h3>Inglés - First Cetificate -Cambridge English</h3><p>Año 2021</p></li>
    <li><h3> Programación Web Full Stack - Digital House</h3><p>Año 2022</p></li> 
    <li><h1>Certificados</h1><h3>Plan Argentina Programa -SeProgramar</h3><p>Año 2022</p></li>
    <li><h3>XX Congreso Internacional en Innovación Tecnológica Informática 2022 - Facultad de Tecnología Informática y Centro de Altos Estudios en Tecnología Informática de la UAI</h3><p> Año 2022</p></li>
    <li><h1>Estudios en curso</h1><h3>1er Año Licenciatura en Gestión de Tecnología Informática - Universidad Abierta Interamericana UAI</h3><p>Año 2023</p></li>
    </ul>
    </div>
   </div>>
