.list-group{
    --bs-list-group-bg:transparent;
}
.fa-brands.fa-brands.fa-twitter.fa-2xl:hover {
    --bs-text-opacity: 1;
    color: #e4e41a !important;
}

.fa-brands.fa-brands.fa-linkedin.fa-2xl:hover {
    --bs-text-opacity: 1;
    color:#2d0ba8 !important;
}

.fa-brands.fa-brands.fa-instagram.fa-2xl:hover {
    --bs-text-opacity: 1;
    color:#e4751a !important;
}

div{
    background-color: #729cdb;
    }

.logobanner{
    text-align: center;
}

    .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: blueviolet;
}


.btn{
    border-width: medium;
}

@media(max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{
        margin: 0.2em;
    }
}


.row{
    background-color: #0000;
    padding: 20px;
    background: #527ec1;
}

.circu{
    background-color: #999;
    padding: 1rem;
    overflow: hidden;
    }

.item{
    margin: 1rem;
    padding: 1rem;
    color: #999;
    float: left;
    }

#item1{
    background-color: #a91ae4;
    border-radius: 50%;
    box-shadow: 0 0 30px #fefefe;
}

#item2{
    background-color: #e41a9a;
    box-shadow: 0 0 30px #fefefe;
}

#item3{
    background-color: #2d0ba8;
    box-shadow: 0 0 30px #fefefe;
}

#item4{
background-color: #1ae467;
box-shadow: 0 0 30px #fefefe;
}

#item5{
    background-color: #e4e41a;
    box-shadow: 0 0 30px #fefefe;
}

#item6{
    background-color: #e4751a;
    border-radius: 50%;
    box-shadow: 0 0 30px #fefefe;
    }

footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: left;
    }

.img-fluid:hover {
    opacity: 0.3;
    transform: translateY(-5%);
}
.login {
    height: 65vh;
}

.link{
    text-decoration: none;
}