<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/Felipe Garcia Carzoglio.png" class="img-fluid" id="fotodeperfil">
    </div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Felipe Garcia Carzoglio</p>
    <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>Soy una persona creativa con espíritu positivo, me destaco
            por mi responsabilidad de trabajo y ganas de desarrollarme
            en equipo</p>
    </span>
</div>
</div>
